<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>xml</Format>
          <Exclude>[nunit.*]*,[NSubstitute.*]*,[Microsoft.*]*,[System.*]*,[ATMSystem.Tests.*]*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <SkipAutoProps>true</SkipAutoProps>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <Include>[ATMSystem.*]*</Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>